i.icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: text-bottom;
    margin-right: 2px;
}

i.icon.twitter {
    background-image: url("../img/icons/twitter-64x64.png");
}

i.icon.instagram {
    background-image: url("../img/icons/instagram-64x64.png");
}

i.icon.msin {
    background-image: url("../img/icons/msin-64x64.png");
}

i.icon.youtube {
    background-image: url("../img/icons/youtube-64x64.png");
}

i.icon.pornhub {
    background-image: url("../img/icons/pornhub-64x64.png");
}

i.icon.tiktok {
    background-image: url("../img/icons/tiktok-64x64.png");
}

i.icon.twit-casting {
    background-image: url("../img/icons/twit-casting-64x64.png");
}

i.icon.livedoor-blog {
    background-image: url("../img/icons/livedoor-blog-64x64.png");
}